[submodule "submodules/latex-packages"]
	path = submodules/latex-packages
	url = https://github.com/src2crs/latex-packages
	branch = develop
[submodule "submodules/src2listings"]
	path = submodules/src2listings
	url = https://github.com/src2crs/src2listings
	branch = develop
[submodule "submodules/latex-buildsystem"]
	path = submodules/latex-buildsystem
	url = https://github.com/src2crs/latex-buildsystem
